.box {
  font-size: 34px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  background-color: blue;
  padding-left: 50px;
}

#god {
 border: 10px solid red;
}

#bob {
  border: 10px:
    border-stye: dashed
  border_color: red
}










